/* Variables */
:root {
    /* Colors */
    --clr-primary: #4a4a4a;
    --clr-secondary: #fff;
    --clr-tertiary: #f3f3f3;
    --clr-footer: #9b9b9b;
}


/* Normalizers */
html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--clr-primary);
}

h1, h2, h3 {
    text-wrap: balance;
}

h2 {
    font-size: 2.25rem;
}

a {
    text-decoration: none;
    color: var(--clr-primary);
}

/* --------- Header --------- */
header {
    width: 100%;
    background-color: var(--clr-secondary);
    border-bottom: 1px solid #c6c1c1;
    padding: 1.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
}


/* Desktop Nav */
.logo {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
    padding-inline-end: 5rem;
}

nav li {
    display: inline;
}

nav li:not(:last-child) {
    margin-right: 3.5rem;
}

.instagram-logo {
    width: 1.3rem;
    vertical-align: middle;
    padding-bottom: .175rem;
    margin-left: .3rem;
}

.mobile,
.join {
    display: none;
}


/* --------- Container --------- */
.container {
    position: relative;
    top: 5.75rem;
}


/* --------- Main --------- */
:is(.featured-section, .filters-section) p {
    font-weight: lighter;
}


/* Banner Section */
.banner-section {
    min-height: 43.75rem;
    background: url('../img/banner-landingpage.jpg') center/cover no-repeat;
}


/* Featured Section */
.featured-section {
    background-color: var(--clr-tertiary);
    padding: 4rem 8%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.25rem;
}

.featured-container {
    background-color: var(--clr-secondary);
    padding: 2rem 3.5rem;
    flex: 1;
}

.featured-container img {
    display: block;
    max-width: 100%;
}

.featured-text {
    padding: 2.5rem;
}


/* Filters Section */
.filters-section {
    background-color: var(--clr-primary);
    text-align: center;
    color: var(--clr-secondary);
    padding: 4rem 0;
}

.filters-text {
    padding-inline: 5rem;
}

.filters-container {
    padding-inline: .75rem;
    margin-top: 3.75rem;
    display: grid;
    grid-auto-flow: column;
}

.filters-container img {
    max-width: 100%;
    display: block;
} 


/* Quote Section */
.quote-section {
    background-color: var(--clr-tertiary);
    color: var(--clr-primary);
}

.quote-block {
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.quote {
    font-family: 'IBM Plex Serif', serif;
    font-size: 1.875rem;
    font-style: italic;
    text-align: center;
}

.quote-block img {
    max-width: 100%;
    display: block;
}


/* Footer */
footer {
    background-color: var(--clr-footer);
    color: var(--clr-secondary);
    font-size: .875rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}