/* Variables */
:root {
    /* Colors */
    --clr-primary: #4a4a4a;
    --clr-secondary: #fff;
    --clr-tertiary: #f3f3f3;
    --clr-footer: #9b9b9b;

    /* Fonts */
    --ff-roboto: 'Roboto', sans-serif;
    --ff-roboto-mono: 'Roboto Mono', monospace;
    --ff-ibm-plex: 'IBM Plex Serif', serif;
    --ff-rubik: 'Rubik', sans-serif;
    --ff-damion: 'Damion', cursive;

    --fs-logo-h1: clamp(1.125rem, 2vw + 1rem, 1.5rem);
    --fs-h2: clamp(1.125rem, 2.3vw + 0.25rem, 2.25rem);
    --fs-p: clamp(0.875rem, 1vw + 0.5rem, 1rem);
    --fs-quote: clamp(1.406rem, 2vw + 1rem, 1.875rem);
    --fs-footer: clamp(0.75rem, 2.5vw - 0.25rem, 1rem);
}


/* Normalizers */
html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


/* Global Styles */
body {
    font-family: var(--ff-roboto);
}

body,
a {
    color: var(--clr-primary);
}

a {
    text-decoration: none;
}

h2 {
    font-size: var(--fs-h2);
    text-wrap: balance;
    margin-bottom: clamp(0.3rem, 3vw - 1rem, 1rem);
}

p, 
li {
    font-size: var(--fs-p);
}

p:not(.quote) {
    line-height: 1.35rem;
}

img {
    display: block;
    max-width: 100%;
}

header,
.featured-box {
    background-color: var(--clr-secondary);
}

.filters-section,
footer {
    color: var(--clr-secondary);
}


/* --------- Header --------- */
header {
    width: 100%;
    background-color: var(--clr-secondary);
    border-bottom: 1px solid #c6c1c1;
    padding: clamp(0.3rem, 3vw - 0.5rem, 1.875rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
}


/* Desktop Nav */
.logo {
    font-family: var(--ff-roboto-mono);
    font-size: var(--fs-logo-h1);
    padding-inline-end: 3rem;
}

nav li {
    display: inline;
}

nav li:not(:last-child) {
    margin-right: 2rem;
}

.instagram-logo {
    display: inline;
    width: 1.3rem;
    vertical-align: middle;
    padding-bottom: .175rem;
    margin-left: .3rem;
}

.mobile,
.join {
    display: none;
}


/* --------- Container --------- */
.container {
    position: relative;
    top: clamp(0.063rem, 3.85vw + 1.63rem, 8rem);
}


/* --------- Main --------- */
.text-center {
    text-align: center;
}

:is(.featured-section, .filters-section) p {
    font-weight: lighter;
}


/* Banner Section */
.banner-section {
    min-height: clamp(30rem, 15rem + 35vw, 43rem);
    background: url('../img/banner-landingpage.jpg') center/cover no-repeat;
}


/* Featured Section */
.featured-section {
    background-color: var(--clr-tertiary);
    padding: 4rem 8.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.25rem;
}

.featured-box {
    padding-block: clamp(1rem, 1.5vw + 0.75rem, 2rem);
    padding-inline: clamp(2rem, 5vw - 0.4rem, 3.5rem);
    flex: 1;
}

.featured-text {
    padding: clamp(1.5rem, 4vw - 0.4rem, 2.5rem);
}


/* Filters Section */
.filters-section {
    background-color: var(--clr-primary);
    padding-block: 4rem;
}

.filters-text {
    padding-inline: clamp(2rem, 6vw - 0.25rem, 5rem);
}

.filters-container {
    padding-inline: clamp(0.063rem, 1vw - 0.5rem, 0.75rem);
    margin-top: 3.75rem;
    display: grid;
    grid-auto-flow: column;
}


/* Quote Section */
.quote-section {
    background-color: var(--clr-tertiary);
}

.quote-block {
    padding-block: clamp(2rem, 1.182rem + 4.364vw, 5rem);
    padding-inline: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.quote {
    font-family: var(--ff-ibm-plex);
    font-size: var(--fs-quote);
    font-style: italic;
}

.quote-block img {
    min-width: 8rem;
}


/* --------- Footer --------- */
footer {
    background-color: var(--clr-footer);
    padding: clamp(0.75rem, 0.409rem + 1.818vw, 2rem);
    display: flex;
    justify-content: space-between;
}

footer p {
    font-size: var(--fs-footer);
}



/* --------- Responsive --------- */
/* Media Tablet (768px) */
@media only screen and (max-width: 1200px) {
    /* Banner Section */
    .banner-section {
        background-position: 90%;
    }

    /* Featured Section */
    .featured-section {
        padding: 2rem 1rem;
    }
}

/* Media Mobile (480px) */
@media only screen and (max-width: 600px) {
    p {
        line-height: 1.4;
    }

    /* Banner Section */
    .banner-section {
        background-position: 95%;
    }

    /* Featured Section */
    .featured-section {
        padding: 0;
        gap: 0;
    }

    .img-extra {
        display: none;
    }

    /* Quote Section */
    .quote-block {
        flex-wrap: wrap;
    }
}